/* Add dark mode styles */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode a {
    color: #0ef;
}

.dark-mode .btn-box {
    background-color: #444;
    color: white;
}

.dark-mode nav .nav li a {
    color: #0ef;
}
